@import "tailwindcss";
@import "tw-animate-css";

/* Safelisting all tailwind classes */
@source inline("");

:root {
	--hbc-black: #000000;
	--hbc-white: #ffffff;
	--hbc-red: #ff1900;
	--hbc-blue: #001eff;

	--hbc-gray-400: #4d4d4f;
	--hbc-gray-300: #87878a;
	--hbc-gray-200: #bbbbbf;
	--hbc-gray-100: #e7e7e7;
	--hbc-gray: #bdbdbd;
}

/* @media (prefers-color-scheme: dark) { */
.dark {
	--hbc-blue: #3884ff;
	--hbc-black: #1f1f1f;
}

@theme inline {
	--color-hbc-black: var(--hbc-black);
	--color-hbc-white: var(--hbc-white);
	--color-hbc-blue: var(--hbc-blue);
	--color-hbc-red: var(--hbc-red);

	--color-hbc-gray-400: var(--hbc-gray-400);
	--color-hbc-gray-300: var(--hbc-gray-300);
	--color-hbc-gray-200: var(--hbc-gray-200);
	--color-hbc-gray-100: var(--hbc-gray-100);
	--color-hbc-gray: var(--hbc-gray);

	--font-suit: var(--font-hbc-suit);
	--font-suisse: var(--font-hbc-suisse);

	/**
	* PC 브레이크포인트
	* 주의: 이 값은 ui.constant.ts의 RESPONSIVE_BREAKPOINTS.PC_MIN_WIDTH와 동기화되어야 합니다.
	*/
	--breakpoint-pc: 1024px;

	/* Collapsible Animations */
	--animate-collapsible-down: collapsible-down 0.2s ease-out;
	--animate-collapsible-up: collapsible-up 0.2s ease-out;

	/* Keyframes for Collapsible */
	@keyframes collapsible-down {
		from {
			height: 0;
		}
		to {
			height: var(--radix-collapsible-content-height);
		}
	}

	@keyframes collapsible-up {
		from {
			height: var(--radix-collapsible-content-height);
		}
		to {
			height: 0;
		}
	}
}

/* Tailwind Javascript config for programmatically generated tailwind css */
/* See also: https://tailwindcss.com/docs/functions-and-directives#config-directive */
@config "./tailwind.config.ts";

body {
	/* background: var(--background);
  color: var(--foreground); */
	font-family: var(--font-suit), var(--font-suisse), Arial, Helvetica, sans-serif;
}

*,
::before,
::after {
	box-sizing: border-box;
}
